---
---

@import "{{ site.theme }}";

$base-color: #924046;
a {
  color: $base-color;
}

a:hover, a:focus {
  color: $base-color;
  font-weight: normal;
  text-decoration: darken($base-color, 10% ) 
}

body {
  color: #222222;
}

footer {
  color: #c5c2c2;
}

.footeremph {
  color: #222222;
  text-decoration: underline;
}

.citation {
border-left: 1px solid #e5e5e5;
margin: 0;
padding: 0 0 0 20px;
font-style: normal;
}