/*-- scss:defaults --*/

$base-color: #924046;

a {
  color: $base-color;
}

a:hover,
a:focus {
  color: $base-color;
  font-weight: normal;
  text-decoration: darken($base-color, 10%);
}

body {
  color: #222222;
}

footer {
  color: #c5c2c2;
}

.footeremph {
  color: #222222;
  text-decoration: underline;
}

ul,
ol {
  margin: 0;
}

.citation {
  border-left: 1px solid #e5e5e5;
  margin: 1em 1em 1em 1em;
  padding: 5px 0 5px 30px;
  text-indent: -10px;
  font-style: normal;
  list-style-type: none;
  background-color: #f8f8f8;
}

.goodcite {
  background-color: #c7f3e47d;
}

.mediumcite {
  background-color: #f8ebc07d;
}

.badcite {
  background-color: #c284887d;
}

.class_author {
  color: #eb7826;
}

.class_title {
  color: #71ae45;
}

.class_distributor {
  color: #5a9dd6;
}

.class_version {
  color: #be8d00;
}

.class_doi {
  color: #bd0000;
}

.class_date {
  color: #febc00;
}

.warning {
  background-color: #f5b3b8;
}

/* end of customizations */